$main_color: #282A35;
$second_color: #04aa6d;
$hover_color: #007d4f;
$light_color: #FFFFFF;
$btn_color_1:#FFC0C7;
$btn_color_2:#FFF4A3;
$span_color_1: #a52a2a;
$span_color_2:  #ff0000;
$span_color_3:  #0000cd;
$span_color_4:#ed143d;
$background_color:#E7E9EB;
$border_color:#cccccc;
$text__color:#555555;
$dark__color:#000000;


